<script setup>
import Layout from '@/Layouts/Authenticated.vue';
import { Head, Link } from '@inertiajs/inertia-vue3';
const props = defineProps(['messages', 'users']);
function userImage(m) {
    if (m.user_profile) return m.user_profile.image_72

    return props.users[m.user] ? props.users[m.user].profile.image_48 : ''
}
function userName(m) {
    if (m.user_profile) return m.user_profile.display_name || m.user_profile.name

    return props.users[m.user] ? (props.users[m.user].display_name || props.users[m.user].name) : ''
}
</script>

<template>
    <Head title="Slack Tools" />
    <Layout>
        <div v-for="msgs, date in messages">
            <div class="flex items-center py-4">
                <!-- The left line -->
                <div class="flex-grow h-px bg-gray-400"></div> 

                <!-- Your text here -->
                <span class="flex-shrink text-gray-500 px-4 italic font-light">{{ date }}</span>

                <!-- The right line -->
                <div class="flex-grow h-px bg-gray-400"></div>
            </div>
            <div class="flex items-start mb-4 text-sm" v-for="m in msgs">
                <img :src="userImage(m)" class="w-10 h-10 rounded mr-3" alt="">
                <div class="flex-1 overflow-hidden">
                    <div>
                        <span class="font-bold">{{ userName(m) }}</span>
                        <span class="text-grey text-xs">{{ m.ts }}</span>
                    </div>
                    <p class="text-black leading-normal">{{ m.text }}</p>
                </div>
            </div>
        </div>
    </Layout>
</template>
