<script setup>
import Layout from '@/Layouts/Authenticated.vue';
import { Head, Link } from '@inertiajs/inertia-vue3';
const props = defineProps(['channels']);
</script>

<template>
    <Head title="Slack Tools" />
    <Layout :channels="channels">
    </Layout>
</template>
